body {
  font-family: Arial, sans-serif;
}
#weather-app {
  border: 2px solid rgb(170, 170, 170);
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
}
form {
  margin-top: 20px;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
}
a {
  text-decoration: none;
}
.temperature {
  font-size: 25px;
  font-weight: bold;
}
.celcius {
  font-weight: bold;
  font-size: 17px;
}